

.heading {

	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;

}
/*index通用样式*/
.title1{
	position: fixed; /* 固定在顶部 */
	top: 0;
	left: 0;
	right: 0;
	height: 60px; /* 设置固定高度 */
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background-color: #27425e; /* 顶部栏背景色 */
	color: #fff; /* 顶部栏文字颜色 */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */

}
/* 顶部栏样式 */
.sidebar-top {
	position: fixed; /* 固定在顶部 */
	top: 0;
	left: 200px;
	right: 0;
	height: 60px; /* 设置固定高度 */
	display: flex;
	justify-content: space-between; /* 左右分布 */
	align-items: center;
	padding: 0 20px;
	background-color: #ffffff; /* 顶部栏背景色 */
	color: #27425e; /* 顶部栏文字颜色 */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
	z-index: 1000; /* 确保顶部栏在最上层 */
}


/* 主体内容容器 */
.main-container {
	width: 100%;
	margin-top: 60px; /* 预留顶部栏的高度 */
	height: calc(100vh - 60px); /* 撑满剩余视口高度 */
}

/* 左侧菜单栏 */
.sidebar {
	position: fixed; /* 固定在左边 */
	top: 60px; /* 顶部栏高度 */
	left: 0;
	width: 200px;
	height: calc(100vh - 60px); /* 撑满剩余视口高度 */
	background-color: #545c64; /* 背景色 */
	overflow-y: auto; /* 如果内容过多，添加滚动条 */
}


/* 右侧内容 */
.content {
	flex: 1; /* 占据剩余空间 */
	margin-left: 200px;
	padding-left: 60px; /* 内边距 */
	padding-right: 60px;
	padding-top: 40px;
	height: calc(100vh - 60px); /* 撑满剩余视口高度 */
	overflow-y: auto; /* 如果内容过多，添加滚动条 */
	background-color: #eeeeee;
}

/* 隐藏左侧菜单栏的滚动条 */
.sidebar::-webkit-scrollbar {
	width: 0;
}

.sidebar {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE/Edge */
}
