<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.modeling_of_production_anomalies.mapper.CompanyMapper">
    <resultMap id="BaseResultMap" type="com.example.modeling_of_production_anomalies.entity.Company">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="LONGVARCHAR" property="name"/>
        <result column="location" jdbcType="LONGVARCHAR" property="location"/>
        <result column="established_date" jdbcType="LONGVARCHAR" property="established_date"/>
        <result column="type" jdbcType="LONGVARCHAR" property="type"/>
        <result column="phone" jdbcType="LONGVARCHAR" property="phone"/>
        <result column="email" jdbcType="LONGVARCHAR" property="email"/>
        <result column="ceo_name" jdbcType="LONGVARCHAR" property="ceo_name"/>
        <result column="web" jdbcType="LONGVARCHAR" property="web"/>
        <result column="c_username" jdbcType="LONGVARCHAR" property="c_username"/>
        <result column="c_password" jdbcType="LONGVARCHAR" property="c_password"/>
        <result column="introduction" jdbcType="LONGVARCHAR" property="introduction"/>
        <result column="c_org" jdbcType="LONGVARCHAR" property="c_org"/>
    </resultMap>
    <select id="companyList" resultMap="BaseResultMap">
        select * from company
    </select>
    <select id="isEmptyOrg" resultType="string">
        select c_org from company where c_username = #{c_username}
    </select>
    <select id="orgById" resultType="string">
        select c_org from company where id = #{id}
    </select>
    <insert id="addCompany">
        insert into company (id,name,location,established_date,type,phone,email,ceo_name,web,c_username,c_password,introduction)
        values (#{id},#{name},#{location},#{established_date},#{type},#{phone},#{email},#{ceo_name},#{web},#{c_username},#{c_password},#{introduction})
    </insert>
    <select id="selectByC_username" resultMap="BaseResultMap">
        select * from company where c_username = #{c_username}
    </select>
    <select id="findById" resultMap="BaseResultMap">
        select * from company where id = #{id}
    </select>
    <update id="updateCompany">
        UPDATE company
        SET name = #{name},
            location = #{location},
            type = #{type},
            established_date = #{established_date},
            phone = #{phone},
            email = #{email},
            ceo_name = #{ceo_name},
            web = #{web},
            introduction = #{introduction},
            c_username = #{c_username},
            c_password = #{c_password}
        WHERE id = #{id}
    </update>
    <update id="updateC_org" >
        update  company SET c_org = #{c_org} where c_username = #{c_username}
    </update>
    <delete id="deleteById">
        delete from company where id = #{id}
    </delete>

</mapper>