<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.modeling_of_production_anomalies.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.example.modeling_of_production_anomalies.entity.Department">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="d_username" jdbcType="VARCHAR" property="d_username"/>
        <result column="d_password" jdbcType="VARCHAR" property="d_password"/>
        <result column="d_name" jdbcType="VARCHAR" property="d_name"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="com_id" jdbcType="INTEGER" property="com_id"/>
        <result column="com_name" jdbcType="VARCHAR" property="com_name"/>

    </resultMap>
    <select id="depList" resultMap="BaseResultMap">
        select * from department where com_id = #{com_id}
    </select>
    <insert id="addDepartment">
        insert into department (id,department,d_username,d_password,d_name,location,description,com_id,com_name)
        values (#{id},#{department},#{d_username},#{d_password},#{d_name},#{location},#{description},#{com_id},#{com_name})
    </insert>
    <select id="selectByD_username" resultMap="BaseResultMap">
        select * from department where d_username = #{d_username}
    </select>
    <select id="selectDepById" resultMap="BaseResultMap">
        select * from department where id = #{id}
    </select>
    <update id="updateDep">
        UPDATE department
        SET department = #{department},
            d_username = #{d_username},
            d_password = #{d_password},
            d_name = #{d_name},
            location = #{location},
            description = #{description},
            com_id = #{com_id},
            com_name = #{com_name}
            WHERE id = #{id}
    </update>
    <delete id="deleteDepById">
        delete from department where id = #{id}
    </delete>
</mapper>