<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.modeling_of_production_anomalies.mapper.Group1Mapper">
    <resultMap id="BaseResultMap" type="com.example.modeling_of_production_anomalies.entity.Group1">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="leader" jdbcType="VARCHAR" property="leader"/>
        <result column="group_function" jdbcType="VARCHAR" property="group_function"/>
        <result column="dep_id" jdbcType="INTEGER" property="dep_id"/>
        <result column="dep_name" jdbcType="VARCHAR" property="dep_name"/>
        <result column="com_id" jdbcType="INTEGER" property="com_id"/>
        <result column="com_name" jdbcType="VARCHAR" property="com_name"/>

    </resultMap>
    <select id="group1List" resultMap="BaseResultMap">
        select * from group1 where dep_id = #{dep_id}
    </select>
    <insert id="addGroup1">
        insert into group1 (id,name,leader,group_function,dep_id,dep_name,com_id,com_name)
        values (#{id},#{name},#{leader},#{group_function},#{dep_id},#{dep_name},#{com_id},#{com_name})
    </insert>
    <update id="updateGroup1">
        UPDATE group1
        SET name = #{name},
            leader = #{leader},
            group_function = #{group_function}
        WHERE id = #{id}
    </update>
    <delete id="deleteById">
        delete from group1 where id = #{id}
    </delete>
    <delete id="deleteByDepId">
        delete from group1 where dep_id = #{dep_id}
    </delete>
    <delete id="deleteByComId">
        delete from group1 where com_id = #{com_id}
    </delete>
    <select id="getAllGroup1List" resultMap="BaseResultMap">
        select * from group1  <!-- 查询group1表的所有数据 -->
    </select>
</mapper>