<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.modeling_of_production_anomalies.mapper.MaterialMapper">
    <resultMap id="BaseResultMap" type="com.example.modeling_of_production_anomalies.entity.Material">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="unit_price" jdbcType="VARCHAR" property="unit_price"/>
        <result column="supplier" jdbcType="VARCHAR" property="supplier"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="group_id" jdbcType="INTEGER" property="group_id"/>
        <result column="group_name" jdbcType="VARCHAR" property="group_name"/>
        <result column="dep_id" jdbcType="INTEGER" property="dep_id"/>
        <result column="dep_name" jdbcType="VARCHAR" property="dep_name"/>
        <result column="com_id" jdbcType="INTEGER" property="com_id"/>
        <result column="com_name" jdbcType="VARCHAR" property="com_name"/>
    </resultMap>
    <select id="materialList" resultMap="BaseResultMap">
        select * from material where com_id = #{com_id}
    </select>
    <select id="materialByDepId" resultMap="BaseResultMap">
        select * from material where dep_id = #{dep_id}
    </select>
    <insert id="addMaterial">
        insert into material (id,name,number,unit,unit_price,supplier,description,group_id,group_name,dep_id,dep_name,com_id,com_name)
        values (#{id},#{name},#{number},#{unit},#{unit_price},#{supplier},#{description},#{group_id},#{group_name},#{dep_id},#{dep_name},#{com_id},#{com_name})
    </insert>
    <update id="updateMaterial">
        UPDATE material
        SET name = #{name},
            number = #{number},
            unit = #{unit},
            unit_price = #{unit_price},
            supplier = #{supplier},
            description = #{description},
            group_id = #{group_id},
            group_name = #{group_name}
        WHERE id = #{id}
    </update>
    <delete id="deleteById">
        delete from material where id = #{id}
    </delete>
    <delete id="deleteByDepId">
        delete from material where dep_id = #{dep_id}
    </delete>
    <delete id="deleteByComId">
        delete from material where com_id = #{com_id}
    </delete>
</mapper>