<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.modeling_of_production_anomalies.mapper.OrganizationMapper">
    <resultMap id="BaseResultMap" type="com.example.modeling_of_production_anomalies.entity.Organization">
        <id column="id" jdbcType="LONGVARCHAR" property="id"/>
        <result column="label" jdbcType="LONGVARCHAR" property="label"/>
        <result column="pid" jdbcType="LONGVARCHAR" property="pid"/>

    </resultMap>
    <select id="orgList" resultMap="BaseResultMap">
        select * from organization
    </select>
    <select id="findById" resultMap="BaseResultMap">
        select * from organization where id = #{id}
    </select>
    <update id="updateOrgTree" >
        UPDATE organization
        SET label = #{label},pid = #{pid} WHERE id = #{id}
    </update>
    <insert id="addTree">
        insert into organization (id,label,pid)
        values (#{id},#{label},#{pid})
    </insert>
    <delete id="deleteNode" >
        delete from organization where id = #{id}
    </delete>

</mapper>