<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.modeling_of_production_anomalies.mapper.StaffMapper">
    <resultMap id="BaseResultMap" type="com.example.modeling_of_production_anomalies.entity.Staff">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="birth_date" jdbcType="VARCHAR" property="birth_date"/>
        <result column="id_number" jdbcType="INTEGER" property="id_number"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="dep_id" jdbcType="INTEGER" property="dep_id"/>
        <result column="department" jdbcType="VARCHAR" property="department"/>
        <result column="hire_date" jdbcType="VARCHAR" property="hire_date"/>
        <result column="group_id" jdbcType="VARCHAR" property="group_id"/>
        <result column="group_name" jdbcType="VARCHAR" property="group_name"/>
        <result column="group_leader" jdbcType="VARCHAR" property="group_leader"/>
        <result column="com_id" jdbcType="INTEGER" property="com_id"/>
        <result column="com_name" jdbcType="VARCHAR" property="com_name"/>
    </resultMap>
    <select id="staffList" resultMap="BaseResultMap">
        select * from staff where com_id = #{com_id}
    </select>
    <select id="depStaffList" resultMap="BaseResultMap">
        select * from staff where dep_id = #{dep_id}
    </select>
    <insert id="addStaff">
        insert into staff (id,name,gender,birth_date,id_number,phone,email,position,dep_id,department,hire_date,group_id,group_name,group_leader,com_id,com_name)
        values (#{id},#{name},#{gender},#{birth_date},#{id_number},#{phone},#{email},#{position},#{dep_id},#{department},#{hire_date},#{group_id},#{group_name},#{group_leader},#{com_id},#{com_name})
    </insert>
    <update id="updateStaff">
        UPDATE staff
        SET name = #{name},
            gender = #{gender},
            birth_date = #{birth_date},
            id_number = #{id_number},
            phone = #{phone},
            email = #{email},
            position = #{position},
            hire_date = #{hire_date},
            group_id = #{group_id},
            group_name = #{group_name},
            group_leader = #{group_leader}
        WHERE id = #{id}
    </update>
    <delete id="deleteById">
        delete from staff where id = #{id}
    </delete>
    <delete id="deleteByDepId">
        delete from staff where dep_id = #{dep_id}
    </delete>
    <delete id="deleteByComId">
        delete from staff where com_id = #{com_id}
    </delete>
</mapper>
