<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.modeling_of_production_anomalies.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.modeling_of_production_anomalies.entity.User">
        <id column="user_id" jdbcType="INTEGER" property="user_id"/>
        <result column="username" jdbcType="LONGVARCHAR" property="username"/>
        <result column="password" jdbcType="LONGVARCHAR" property="password"/>
        <result column="user_type" jdbcType="LONGVARCHAR" property="user_type"/>
    </resultMap>
    <select id="findByUsername" resultMap="BaseResultMap">
        select * from user where username =#{username}
    </select>
    <select id="findByUserId" resultMap="BaseResultMap">
        select * from user where user_id =#{user_id}
    </select>
    <select id="UserList" resultMap="BaseResultMap">
        select * from user
    </select>
    <insert id="addUser">
        insert into user (username,password,user_type) values (#{username},#{password},#{user_type})
    </insert>
    <update id="updateUser">
        update user
        set username = #{username},
            password = #{password}
        where user_id = #{user_id}
    </update>
    <delete id="deleteUserById">
        delete from user where user_id = #{user_id}
    </delete>
    <delete id="deleteUserByUsername">
        delete from user where username = #{username}
    </delete>
</mapper>